* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  background-color: rgba(210, 105, 30, 0.552);
  padding: 0.3rem 1rem;
  padding: 1.5rem;
  text-align: center;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.btn {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  background-color: chocolate;
}

.submmit {
  background-color: rgba(210, 105, 30, 0.552);
  padding: 0.3rem 1rem;
  padding: 1.5rem;
  text-align: center;
}

.submmit {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.submmit:hover,
.submmit:active {
  background-color: chocolate;
}

.submitting {
  font: inherit;
  cursor: not-allowed;
  color: 77002e;
  border: 1px solid gray;
  background-color: rgb(226, 220, 220);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}
